# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/

# Virtual Environments
venv/
ENV/
env/
.env

# Databases & SQLite
jobrec.db
*.db-journal
*.db-shm
*.db-wal

# User Uploads
uploads/
backend/uploads/*
backend/uploads/user_*
!backend/uploads/.gitkeep

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
